<div class="container mt-3">

    <h1>Vote</h1>

    <thead>
        <tr>
            <th scope="col">Vote for scripts</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @for (script of competition!.scripts; track $index; let idx = $index) {
        <tr>
            <td>{{script.name}}</td>
            <td>
                <button class="{{1<=votes[idx].rate ? 'btn btn-info btn-sm' : 'btn btn-warning btn-sm'}}"
                    (click)="onVote(script,idx,1)">1</button>
                <button class="{{2<=votes[idx].rate ? 'btn btn-info btn-sm' : 'btn btn-warning btn-sm'}}"
                    (click)="onVote(script,idx,2)">2</button>
                <button class="{{3<=votes[idx].rate ? 'btn btn-info btn-sm' : 'btn btn-warning btn-sm'}}"
                    (click)="onVote(script,idx,3)">3</button>
                <button class="{{4<=votes[idx].rate ? 'btn btn-info btn-sm' : 'btn btn-warning btn-sm'}}"
                    (click)="onVote(script,idx,4)">4</button>
                <button class="{{5<=votes[idx].rate ? 'btn btn-info btn-sm' : 'btn btn-warning btn-sm'}}"
                    (click)="onVote(script,idx,5)">5</button>
            </td>
        </tr>
        }
    </tbody>

    <button class="btn btn-info btn-sm mybutton" [disabled]="!allVote()" (click)="submitVotes()">Submit</button>

</div>