@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebUi.Pages.IndexModel
@{
    ViewData["Title"] = "Railway Stations";
}

<div class="row">
    <h1 class="display-4">Railway Stations</h1>
</div>

<div class="row">
    <br/>
    <a asp-page="./Stations/Index">Stations</a>
    <br/>
</div>