@page
@model WebApp.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Bearbeiten";
}

<h1>Bearbeite</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>
<hr/>
<h4>Zimmerbuchungen</h4>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}