@page
@model WebApp.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Gäste";
}

<h1>Kundenübersicht</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            Nachname
        </th>
        <th>
            Vorname
        </th>
        <th>
            Anzahl Buchungen
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>