@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebUi.Pages.IndexModel
@{
    ViewData["Title"] = "Travel Agency";
}

<div class="row">
    <h1 class="display-4">Travel Agency - Dashboard</h1>
</div>

<div class="row">
    <h1>TODO</h1>
</div>